## Assignment 1

####  In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [12]:
"""* is the multiplication mathematical operator. 
     For Example"""
a=3*2
print(a)

6

In [13]:
"""hello is a string"""
a='hello'
print(type(a))

<class 'str'>

In [14]:
'-87.8 is a float with decimal value'
a=-87.8
print(type(a))

<class 'float'>

In [15]:
"""- is a mathematical substraction operator.
    for example:"""
a=4-2
print(a)

2

In [16]:
"""/ is a division mathematical operator.
    for example"""
a=4/2
print(a)

2.0

In [17]:
"""+ is a addition mathematical operator.
    for example"""
a=4+2
print(a)

6

In [18]:
"""6 is a integer number"""
print(type(6))

<class 'int'>

### What is the difference between string and variable?

#### variable is a container that stores string, integer, or any other value assigned while string is a specific value saved under a quotes. a variable can store string but string cannot hold a variable.

In [23]:
"Describe Three different Data Types?"
a=6
print(a)
print(type(a), "it is integer data type")

List_1=['mango','apple','peach']
print(List_1)
print(type(List_1), "it is list data type which is mutable")

List_2=('one','three','five')
print(List_2)
print(type(List_2), "it is tuple data type which is immutable")

6
<class 'int'> it is integer data type
['mango', 'apple', 'peach']
<class 'list'> it is list data type which is mutable
('one', 'three', 'five')
<class 'tuple'> it is tuple data type which is immutable

#### This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [27]:
"Expression is basically a logical statement that is executed when call for example:"
spam=10
"here spam=10 is a assignment expression that contains value as 10 when call via print function it display spam value"
print(spam)

10

In [28]:
"While statements are general line of sentence that is stored under quotes and never execute as a code."

'While statements are general line of sentence that is stored under quotes and never execute as a code.'

#### After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [31]:
bacon=22
bacon+1, "it adds one value to the bacon containing value as 22"

(23, 'it adds one value to the bacon containing value as 22')

#### What should the values of the following two terms be?

In [35]:
'spam' + 'spamspam', "it adds both the strings as + operator is used"

('spamspamspam', 'it adds both the strings as + operator is used')

In [36]:
'spam' * 3, "it multiply spam thrice as * operator used"

('spamspamspam', 'it multiply spam thrice as * operator used')

#### Why is eggs a valid variable name while 100 is invalid?

In [37]:
#As eggs start with a string and not integer. thus, it is a valid variable name.

#### What three functions can be used to get the integer, floating-point number, or string version of a value?

In [45]:
# the three functions that can be used to get the integer, floating point number, or a string version of a value are.
A=int(41)
print(type(A), 'it is currently integer')

B=float(42)
print(type(B), 'it is currently float')

C=str(40)
print(type(C), 'it is now a string')

<class 'int'> it is currently integer
<class 'float'> it is currently float
<class 'str'> it is now a string

#### Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [46]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [47]:
"it is caused as the string and integer cannot be concatenate, in response we have to change data type of 99 to string."
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'